body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    text-align: center;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
nav ul li a {
    text-decoration: none;
    color: white;
}
main {
    padding: 20px;
}
main img {
    height: 500px;
}
main .container {
    padding-left: 30%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
h1, h2 {
    color: #333;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}