<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Simple Web Page</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
</head>
<body>
    <header>
        <h1>Welcome to My Simple Web Page</h1>
    </header>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
    <main>
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac justo eget odio volutpat ultrices.</p>
        <div class="container">
            <div class="image">
                <img src="{{url_for('static', filename='cat.jpg')}}" align="middle" />
                <h2>Our Services</h2>
            </div>
            <div class="actions">
                <ul>
                    <li>
                        <form action="{{ url_for("form_post")}}" method="post">
                        <label for="username">Username: </label>
                        <input type="text" id="username" name="fname" placeholder="username">
                        <label for="age">Age: </label>
                        <input type="text" id="age" name="fage" placeholder="lastname">
                        <button type="submit">Add</button>
                    </li>
                    <li> Get all users: <a href="/get-all-users">Get users</a></li>
                </ul>
            </div>
        </div>
    </main>
    <footer>
        <p>&copy; 2023 My Simple Web Page</p>
    </footer>
</body>
</html>